@font-face {
    font-family: amazon_ember_bold;
    src: url(./fonts/AmazonEmberBold.ttf);
  }
  @font-face {
    font-family: amazon_ember_regular;
    src: url(./fonts/AmazonEmber.ttf);
  }
$white : #fff;
$black : #000;
$font-ember-bold : "amazon_ember_bold";
$font-ember-regular : "amazon_ember_regular";

$primary-color : #333538;
$secondary-color : #111921;
$white-400-color : #dcdede;
$white-500-color : #eff2f2;
$white-600-color : #f2f5f8;
$white-700-color : #f7f7f7;
$blue-color : #1e2f3e;
$gray-color : #827f84;
$gray-100-color : #c1bdbf;
$gray-200-color : #d0cbcd;
$gray-300-color : #f0e9ec;
$gray-400-color : #f5f0f2;
$gray-dark-color : #5e5d5f;
$yellow-color : #ffde08;
$yellow-100-color : #f3bb22;
$yellow-200-color : #ffba65;
$yellow-500-color : #ee9a32;
$orange-100-color : #c6581c;
$pink-100-color : #9e128b;
$teal-color : teal;
$font-small : 0.875rem;
$font-family : Helvetica;

$font-sm : 0.75rem;
$font-lsm : 0.9rem;
$font-nm : 1rem;
$font-xnm : 1.15rem;
$font-md : 1.25rem;
$font-lg : 1.5rem;
$font-xl : 1.75rem;
$font-xxl : 2rem;
